<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Customer Information</title>
</head>
<body>

        {{msg}}

        <form action="http://localhost:5000/customer/persist/" method="POST">
            Customer Id:<input type="text" name="cid" value="{{customer.cid}}"><br><br>
            Customer Name:<input type="text"name="cname" value="{{customer.cname}}"><br><br>
            Customer Age:<input type="text" name="cage" value="{{customer.cage}}"><br><br>
            Customer Email:<input type="text" name="cemail" value="{{customer.cemail}}"><br><br>
            Customer Gender:
                {% for key,value in genders.item() %}
                    {% if key==cust.gender%}
                    <input type="radio" value="{{key}}" name="gender" checked> {{value}}
                    {%else%}
                        <input type="radio" value="{{key}}" name="gender" checked>{{value}}
                    {%endif%}
                {% endfor %}<br><br>

            Customer Address:
            <select name="adr">
                <option value="0">--SELECT--</option>
                {% for adr in adresses %}
                {% if cust.adr == adr.id %}
                    <option value="{{adr.id}}" selected>{{adr.city}}</option>
                {% else %}
                    <option value="{{adr.id}}">{{adr.city}}</option>
                {% endif %}
                {% endfor %}
            </select>>
            <br><br>
            <input type="submit">
        </form>

        < table border ='1'>
                <thead>
                <th>CUSTID</th>
                <th>CUSTName</th>
                <th>CUSTAge</th>
                <th>CUSTEmail</th>
                <th>CUSTCity</th>
                <th>Balance</th>
                </thead>
            { % for cust in custs %}
                <tbody>
                <td>{{cust.id}}</td>
                <td>{{cust.name}}</td>
                <td>{{cust.age}}</td>
                <td>{{cust.email}}</td>
                <td>{{cust.address.city}}</td>
                <td>
                    {% for custacc in cust.accounts %}
                        {{custacc.id}} ->{{custacc.balance}}<br>
                    {%endfor%}
                </td>
                </tbody>
            <% endfor %>
        </table>
</body>
</html>